{% extends 'base.html.twig' %}
{% block body %}
    <!-- Menu -->
    {% include 'menu.html.twig' %}

    <!-- Banner -->
    <!--
        Note: To show a background image, set the "data-bg" attribute below
        to the full filename of your image. This is used in each section to set
        the background image.
    -->
    <section id="banner" class="bg-img" data-bg="two_of_us.jpg">
        <div class="inner">
            <header>
                <h1>Wedding blog</h1>
            </header>
        </div>
        <a href="#1" class="more">En voir plus</a>
    </section>
    {% if posts is defined %}
        {% for post in posts %}
            <section id="{{ loop.index }}" class="wrapper post bg-img" data-bg="two_of_us.jpg">
                <div class="inner">
                    <article class="box">
                        <header>
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.date|date('Y-m-d') }}</p>
                        </header>
                        <div class="content">
                            <p>{{ post.content|raw }}</p>
                        </div>
                        <footer>
                            <a href="{{ path('post',{'id': post.id }) }}" class="button alt">En voir plus</a>
                        </footer>
                    </article>
                </div>
                {% if not loop.last %}
                    <a href="#{{ loop.index + 1 }}" class="more">En voir plus</a>
                {% endif %}
            </section>

        {% endfor %}
    {% endif %}

    <!-- Footer -->
    {% include 'footer.html.twig' %}

{% endblock %}
